.App{
    display: block;
    text-align: center;
    margin-bottom: 20%;
      
}
.temp{
    margin-top: 10%;
    font-size: 30px;

    
}
.room{
    height: 120vh;
    font-size: 30px;
}
.ON{
    background-color: White;
    color: black;
}
.OFF{
    background-color: black;
    color: white;
}
.button1{
    background-color: #008CBA;
    color: white;
    width: 10%;
    height: 30px;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 10%;
}
.button2{
    background-color: #f44336;
    color: white;
    width: 15%;
    height:30px;
    border-radius: 50px;
    font-size: 20px;
}
.button3{
    background-color: gray;
    color: white;
    font-size: 20px;
    width: 10%;
    height:30px;
    border-radius: 50px;
}


.button4{
    background-color: tomato;
    padding-left: 14px 40px;
    text-align: center;
    margin: auto;
    font-size: 20;
    color: white;
    border-radius: 14px;
    display: block;
    width: 7%;
    height: 15%;
    margin-left: 40%;
    margin-top: 5%;
}
.button5{
    background-color: peru;
    color: white;
    padding-left: 14px 40px;
    text-align: center;
    margin-left: 54%;
    font-size: 20;
    color: white;
    border-radius: 15px;
    display: block;
    width: 7%;
    height: 15%;
    margin-top: -1.6%;
}
.button1:hover{

    background-color: black;     
    color: white;
}
 .button2:hover{

    background-color: black;     
    color: white; 
 }
 .button3:hover{

    background-color: black;     
    color: white;
 }
 .button4:hover{
    background-color: black;     
    color: white;
 }
 .button5:hover{

    background-color: black;     
       color: white;
}